# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
  branches:
    include:
      - "*"

parameters:
  - name: debian_version
    type: string
    default: bullseye

variables:
  - name: BUILD_BRANCH
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      value: $(System.PullRequest.TargetBranch)
    ${{ else }}:
      value: $(Build.SourceBranchName)

stages:
- stage: Build
  jobs:
  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: amd64
      pool: sonicso1ES-amd64
      sonic_slave: sonic-slave-${{ parameters.debian_version }}
      debian_version: ${{ parameters.debian_version }}
      artifact_name: sonic-dash-api
- stage: BuildArm
  dependsOn: Build
  condition: succeeded('Build')
  jobs:
  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: armhf
      pool: sonicso1ES-armhf
      sonic_slave: sonic-slave-${{ parameters.debian_version }}-armhf
      debian_version: ${{ parameters.debian_version }}
      artifact_name: sonic-dash-api.armhf
  - template: .azure-pipelines/build-template.yml
    parameters:
      arch: arm64
      pool: sonicso1ES-arm64
      sonic_slave: sonic-slave-${{ parameters.debian_version }}-arm64
      debian_version: ${{ parameters.debian_version }}
      artifact_name: sonic-dash-api.arm64
